**/cmake-*/
*.a
*.app
*.cmd
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.mod
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.slo
*.smod
*.so
*.so.*
*.su
*.x86_64
.cache
.cache*.d
.tmp_versions/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Makefile
Mkfile.old
Module.symvers
Testing
_deps
build/
cmake_install.cmake
compile_commands.json
dkms.conf*.d
install_manifest.txt
modules.order
